#postContainer { width: 90%; max-width: 700px; margin: 20px auto; padding: 50px 0;

	> header { padding-bottom: 10px; border-bottom: 1px solid #ddd; margin-bottom: 50px;
		> h1 { font-weight: bold; font-size: 32px; line-height: 1.2;
			> a { color: #666; text-decoration: none; }
		}
		> p { font-size: 12px; color: #999;
			> a { text-decoration: none; color: $blue; }
		}
	}

	> section { color: #666; margin-bottom: 50px;
		h2 { color: #000; border-bottom: 1px solid #ccc; margin: 40px 0 20px 0; padding-bottom: 5px; font-weight: bold; font-size: 24px; }
		h3 { color: #333; margin: 30px 0 15px 0; font-weight: bold; font-size: 20px; }
		h4 {}
		a { color: $blue; text-decoration: none; }
		pre { white-space: pre-wrap; background: #eee; border: 1px solid #ccc; border-radius: 5px; padding: 17px 20px; margin: 20px 0;
			code { background: none; border: none; padding: 0; margin: 0; }
		}
		p { margin: 20px 0; }
		code { background: #eee; border: 1px solid #ccc; border-radius: 5px; padding: 0 5px; margin-right: 3px; }
		ul, ol { padding-left: 20px;
			> li { margin: 10px 0; list-style-type: disc; }
		}
		table { width: 100%; margin: 20px 0;
			tr { border-bottom: 1px solid #ddd; }
			td, th { padding: 10px; }
		}
		blockquote { font-style: italic; margin-left: 30px; border-top: 1px solid #ddd; }
		img { display: block; margin: 20px auto; max-width: 100%; }
		iframe { display: block; margin: 20px auto; width: 100%; }
	}

	> #shares { background: #eee; text-align: center; padding: 20px;
		> a { display: inline-block; vertical-align: middle; margin: 0 10px;
			> svg { display: block; width: 30px; height: 30px; }
		}
	}

	> #pagination { width: 100%;
		> a { display: block; margin-bottom: 10px;
			> svg { vertical-align: middle; }
		}
	}

}