/**
 * Reset
 */
* { box-sizing: border-box; margin: 0; padding: 0;cursor: default;
	&:focus { outline: none; }
}
*:after, *:before { box-sizing: border-box; margin: 0; padding: 0; user-select: none; }
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, textarea, select, option, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, button, select, option, textarea { font-family: inherit; border: none; }
fieldset { border: none; }
a, button, input[type="submit"] { cursor: pointer;
	* { cursor: pointer; }
}
input, textarea { user-select: initial; cursor: text; font: inherit; }
select { user-select: initial; cursor: pointer; font: inherit; appearance: none; }
strong { font-weight: bold }